/* src/styles/App.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  width: 100%;
  height: 50vh; /* Altura para abarcar navbar y banner */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Posiciona el contenido en relación al contenedor */
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.banner-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa el espacio restante debajo del Navbar */
  color: white;
  font-size: 2em;
  text-align: center;
}

.app-content {
  flex: 1;
  padding: 20px;
  background-color: #f8f9fa;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
