/* src/styles/Banner.css */
.banner {
    width: 100%;
    height: 25vh; /* Usa unidades relativas como vh para que sea adaptable */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el banner y los botones */
  }
  
  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen se ajustará al contenedor */
  }
  
  /* Media queries para pantallas más pequeñas */
  @media (max-width: 768px) {
    .banner {
      height: 20vh; /* Reduce la altura del banner en pantallas más pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .banner {
      height: 15vh; /* Aún más pequeño en pantallas de móviles */
    }
  }
  