/* src/styles/Navbar.css */

.navbar {
    width: 100%;
    background-color: transparent; /* Fondo transparente */
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro al hacer scroll */
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .navbar a:hover {
    color: #ffdd57;
  }
  